/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 * version: 1.8.1
 * https://github.com/wenzhixin/bootstrap-table/
 * Convert to sass by @hola_miguelo
 */

// ====================================
//            Bootstrap Table
// ====================================



.fixed-table-container {
  position: relative;
  clear: both;

	.table {
		margin-bottom: 0 !important;
		border-bottom: 2px solid $gris;
		padding: 0px !important;
		width: 100%;
		font-family: Lato-regular,Helvetica;

	  thead {
	  	tr{
		 	th {
		 		  font-family: Andale,Helvetica;
		 		  font-size: 16px;
				  height: 0;
				  padding: 0;
				  margin: 0;
				  border-bottom: solid $gris 2px !important;

				  	.th-inner {
					  padding: 8px;
					  line-height: 24px;
					}
					.sortable {
					  cursor: pointer;
					  background-repeat: no-repeat;
					  padding-right: 10px;
					}
					.both {
					  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC");
					  background-position: right 10px;
					}
					.asc {
					  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG2YAABzjgAA+swAAIT6AAB5gQAA/RMAADBtAAASKQ0eJk4AAACASURBVHja7NKhDcJQFIbRV1MSEqaoYwYMYyARR6HZowzAHqguUolHYEgxD9MmTYPpA1JEb/KZK476Q4wxfKvwc6x/WKJE3v+nYkc8cfgIwxpXRNQokjBkOLdQ1wlZCrbFbYDdsRmFYYVqAHVdsBiD7dHg8aYGu2l2NmMz9s/YawDpU8qkYQTHqgAAAABJRU5ErkJggg==");
					  background-position: right 10px;
					}
					.desc {
					  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG2YAABzjgAA+swAAIT6AAB5gQAA/RMAADBtAAASKQ0eJk4AAACFSURBVHja7NKhDcJQFIbRWwMJCVPgmKGGMZCIo9DsAQOwRxWLIPEIDCnmYR4JaSp4DYKQis/8NznqRkopvlWM2Ij9BYY1Wtx7arEpwaZokHo6Yf4xFhGBGrcOdMUqIqIUq3DoYEdUxVgGFzhn6ILl61aMZXCLB3bv+1Bsgj1mg7CfeNrnAMXSyqQtsCNeAAAAAElFTkSuQmCC");
					  background-position: right 10px;
					}
			}
	  	}
	  }

	  tbody{
		tr{
			td{
				border-bottom: solid $gris-claro 1px;
				a{
					text-decoration: none;
					i{
						color: $gris;
						&:hover,&:focus{
							color: $azul-ctin ;
						}
					}
				}
			}
			&:nth-child(odd) {
		    	background: $gris-claro;
			}
			&:hover,&:focus{
				background-color: $azurlRey-ctin;
				color: $blanco;
				a{
					i{
						color: $blanco;
					}
				}
			}
		}
	  }
	}
}

.fixed-table-header {
  overflow: hidden;
}

.fixed-table-footer {
	@extend .fixed-table-header;
}

.fixed-table-body {
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
}

.fixed-table-pagination{

	.btn-group {
	  position: relative;
	  display: inline-block;
	  vertical-align: middle;
	}

	.columns-left {
	  margin-right: 5px;
	}

	.columns-right {
	  margin-left: 5px;
	}

	.dropup {
		.dropdown-menu {
		  margin-bottom: 0;
		}
	}

	.page-list {
	  display: inline-block;
	  .btn-group{
			 .btn{ 
			 	border-radius: 20px;
			 	border-color: rgba($gris, 0.8);
			 	border-width: 2px;
			 }
	  }
	}

	.pagination-detail{
		margin-top: 35px;
  		margin-bottom: 10px;
  		border-radius: 20px;
	}

	.pagination-info {
	  line-height: 34px;
	  margin-right: 5px;
	  border: solid 2px rgba($gris, 0.8);
	  border-radius: 20px;
	  padding: 6px;
	}

	.pagination {
		margin-top: 30px;
		margin-bottom: 10px;

		ul{
			margin-top: 0px;
			margin-bottom: 0px;
			li{

				a {
				  font-family: Lato-regular,Helvetica;
				  padding: 6px 12px;
				  line-height: 1.428571429;
				  margin: 2px;
				  text-align: center;
				  color: $blanco;
				  width: 35px;
				  height: 35px;

				  background-color: $gris;
				  border-radius: 20px;
				  border: solid 2px transparent;

				  @include transition-mix(0.5s);
				  
				  &:hover,&:focus{
				  	background-color: $gris-claro;
				  	border-color: $gris;
				  	color: $gris;
				  }
				}

				
				&.disabled {
					a{
					  border-color: rgba($gris, 0.5) ;
					  background-color: rgba($gris, 0.2) !important;
					  pointer-events: none !important; 
					  cursor: default !important;
					  color: $gris;
					}
				}

				&.active{
					a{
					  // border-color: $rojo-ctin ;
					  background-color: $rojo-ctin ;
					  color: $blanco;
					}
				}



			}
		}
	}

}

.fixed-table-toolbar {
	.columns {
		label {
		  display: block;
		  padding: 3px 20px;
		  clear: both;
		  font-weight: normal;
		  line-height: 1.428571429;
		}
	}

	.bars,
	.search,
	.columns {
	  position: relative;
	  margin-top: 10px;
	  margin-bottom: 10px;
	  line-height: 34px;

	}

	.dropdown-menu {
	  text-align: left;
	  max-height: 300px;
	  overflow: auto;
	}

	.btn-group{
		.btn-group {
		  	display: inline-block;
		  	margin-left: -1px !important;
			  .btn {
				  border-radius: 0;
				}
			&:first-child{
				.btn {
				  border-top-left-radius: 4px;
				  border-bottom-left-radius: 4px;
				}
			}

		}
	}

	.form-control{

		background-color: transparent;
		border: solid 2px $gris; 
		border-radius: 20px;
		color: $gris;

	}
}

.fixed-table-loading {
  display: none;
  position: absolute;
  top: 42px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  text-align: center;
}

.fixed-table-body {
	thead {
		th{
			.th-inner {
				  box-sizing: border-box;
				}
		}
	}
}


.table {
	th,td {
	  vertical-align: middle;
	  box-sizing: border-box;
	}
}

.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}

/* calculate scrollbar width */
p.fixed-table-scroll-inner {
  width: 100%;
  height: 200px;
}

div.fixed-table-scroll-outer {
  top: 0;
  left: 0;
  visibility: hidden;
  width: 200px;
  height: 150px;
  overflow: hidden;
}